/**** Contact Configuration ****/

.contact-flex{
  display: flex;
  justify-content: space-around;
}
.contact-content {
  padding: 40px;
  border: 1px solid #bbb;
  background: #f4f4f4;
  color: #777;
}
.contact-text p {
  text-align: center;
}
