/*MENU NAVIGATION HAUT*/

.custom-menu-class {
  background-color: #fff;
  padding: 8px 0;
  position: 0;
}

.custom-menu-class ul {
  display: flex;
  justify-content: space-around;
}

.custom-menu-class li {
  list-style-type: none;
  display: inline-block;
  min-width: 50px;
}

.custom-menu-class a {
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  font-size: 13px;
}

.custom-menu-class a:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

/*Epaisseur et style du soulignement */
.custom-menu-class a:hover:after {
  width: 99%;
  background: #000;
}

/*MENU FOOTER HAUT*/
.custom-menu-class-footer {
  display: flex;
  justify-content: flex-end;
}

.custom-menu-class-footer li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

.custom-menu-class-footer a {
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  font-size: 10px;
}

.custom-menu-class-footer a:hover {
  color: rgb(97, 97, 97);
}
