/**
 * The template for displaying css style post in the LerNumerique Theme.
 *
 * @package WordPress
 * @subpackage LerNumerique
 * @since LerNumerique 1.0
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

article {
  display: block;
  padding: 0 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

article h1 {
  margin-top: 10px;
}

.container {
  padding: 26px;
  border: 1px solid #bbb;
  background: #f4f4f4;
  color: #777;
}

.alignleft {
  float: left;
  margin-right: 10px;
}

.aligncenter {
  margin-bottom: 10px;
  text-align: center;
}

.alignright {
  float: right;
  margin-left: 10px;
}

.blog-content {
  padding: 26px;
  border: 1px solid #bbb;
  color: #777;
  background: #f4f4f4;
}

@media screen and (max-width: 700px) {
  article {
    padding: 0;
  }

  .blog-content p {
    font-size: 15px;
  }

}
